.battleship {
  background-color: blue;
  max-width: 500px;
}
.battleship_row {
  display: flex;
  background-color: red;
  max-width: 500px;
}
.battleship_element {
  background-color: black;
  margin: 5px;
  width: 10px;
  height: 10px;
}